<!-- app.component.html -->
<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="container mx-auto p-6">
    <div class="flex mb-4 gap-8">
      <div class="w-1/2 ">
        <h2 class="text-3xl font-extrabold text-gray-900">Input</h2>
      </div>
      <div class="w-1/2  ">
        <h2 class="text-3xl font-extrabold text-gray-900">Output</h2>
      </div>
    </div>
    <div class="flex gap-8">
        <div class="border w-1/2 pr-4 border-gray-300 rounded-md p-4">
          <textarea
            class="w-full h-64 resize-none overflow-visible focus:outline-none"
            placeholder="Enter your text here"
            [formControl]="inputFormControl"
          ></textarea>
          <div class="mb-3">
            <input
              class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
              type="file"
              id="formFile" />
          </div>
        </div>
        <div class="w-1/2 pl-4 border border-gray-300 rounded-md p-4">
          <textarea
            class="w-full h-64 resize-none focus:outline-none"
            placeholder="Converted text will appear here"
            [formControl]="outputControl"
            readonly
          ></textarea>
          <div class="mb-3">
            <button type="button" class="text-white bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
              Download
              <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
      </div>
    </div>

    <div class="h-8 my-6 border-t border-gray-300"></div>
    <div class="flex justify-center">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        (click)="convert()"
      >
        Convert
      </button>
    </div>
  </div>
</div>
